:host
    display: flex
    justify-content: center
    align-items: center
    background-color: #34ac34
    width: 100vw
    height: 100vh

.app-container
    display: flex
    justify-content: center
    align-items: center
    background-color: white
    width: 95%
    height: 95%
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
    border-radius: 50%/10%

.popup
    color: white
    width: 20%
    height: 5%
    position: fixed
    top: 10%
    left: 80%
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px

.error
    background-color: red

.success
    background-color: green