<div class="cont">
    <form class="form sign-in" [formGroup]="login" (submit)='handleLogin(login.value)'>
        <h2>Welcome Back,</h2>
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
                <span>Email</span>   
            </mat-label>
            <input matInput type="email" formControlName='email'/>
        </mat-form-field>
        
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
                <span>Password</span>  
            </mat-label>
            <input type="password" matInput formControlName='password'/>
        </mat-form-field>
        
        <p class="forgot-pass">Forgot password?</p>
        
        <button mat-button type="submit" class="submit" [disabled]='!login.valid'>Accedi</button>
    
    </form>
    
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>First Time Here?</h2>
                <p>Join Us now!</p>
            </div>
            <div class="img__text m--in">
                <h2>Already our member?</h2>
                <p>Sign In to access our services</p>
            </div>
            <div class="img__btn" (click)='swapFormView($event)'>
                <span class="m--up">Register</span>
                <span class="m--in">Login</span>
            </div>
        </div>
    
        <form class="form sign-up" [formGroup]="register" (submit)='handleRegister(register.value)'>
            <h2>Time to join Us,</h2><h2>{{register.value.user}}</h2>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>
                    <span>Username</span>
                </mat-label>
                <input type="text" matInput formControlName='user'/>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>
                    <span>Full name</span>
                </mat-label>
                <input type="text" matInput formControlName='fname'/>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>
                    <span>Email</span>
                </mat-label>
                <input type="email" matInput formControlName='email'/>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>
                    <span>Password</span>
                </mat-label>
                <input type="password" matInput formControlName='password'/>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>
                    <span>Conferma Password</span>
                </mat-label>
                <input type="password" matInput formControlName='re_password'/>
            </mat-form-field>

            <button mat-button ype="submit" class="submit" [disabled]='!register.valid'>Registrati</button>
        </form>
    </div>
</div>
