<h1>Admin Page</h1>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.fname}}
        </mat-panel-title>
        <mat-panel-description>
          Here are your details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Your Username: {{user.user}}</p>
      <p>Your Email: {{user.email}}</p>
      <p>Admin Powers: {{user.isAdmin ? 'Yes' : 'No'}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Your Users
        </mat-panel-title>
        <mat-panel-description>
          {{!panelOpenState ? 'Open' : 'Close'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class='singleUser' *ngFor='let singleUser of users'>
        <p>Full Name: {{singleUser.fname}}</p>
        <p>Username: {{singleUser.user}}</p>
        <p>Email: {{singleUser.email}}</p>
        <p>Admin Powers: {{singleUser.isAdmin ? 'Yes' : 'No'}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  

<button mat-raised-button color='warn' (click)='logout()'>Logout</button>

